.card-header {
  padding: 1rem;
}

.header-row {
  display: flex;
  flex-wrap: wrap;
}

.client-details,
.invoice-details {
  flex: 1 1 300px;
  box-sizing: border-box;
  padding: 0 1rem;
}

.detail-item {
  margin-bottom: 0.5rem;
}

.detail-item span {
  display: inline-flexbox;
  font-size: 16px;
  color: #333;
}

.detail-value {
  font-weight: bold;
  color: #555;
  margin-left: 0.5rem;
  flex-wrap: wrap;
  
}
