<div class="card mb-2" *ngIf="!loading">
  <h5 class="mb-3">Mettre à jour le chauffeur</h5>
  <form [formGroup]="chauffeurForm" class="p-fluid">
    <div class="field">
      <label for="nom">Nom du chauffeur</label>
      <input pInputText type="text" id="nom" formControlName="last_name" placeholder="Doe" class="w-full" />
    </div>
    <div class="field">
      <label for="prenoms">Prénoms du chauffeur</label>
      <input pInputText type="text" id="prenoms" formControlName="first_name" placeholder="John" class="w-full" />
    </div>
    <div class="field">
      <label for="numero_telephone">Numéro de téléphone</label>
      <input pInputText type="tel" id="numero_telephone" formControlName="telephone" placeholder="+33 2323 2333"
        class="w-full" />
    </div>
    <div class="field">
      <label for="adresse">Adresse du chauffeur</label>
      <input pInputText type="text" id="adresse" formControlName="adresse" placeholder="Adresse..."
        (focus)="initAutocomplete()" class="w-full" />
    </div>
    <div class="field">
      <label for="email">Adresse e-mail du chauffeur</label>
      <input pInputText type="email" id="email" formControlName="email" placeholder="exple@exple.com" class="w-full" />
    </div>
    <div class="field">
      <label for="annee_experience">Année d'expérience du chauffeur</label>
      <input pInputText type="number" id="annee_experience" formControlName="annee_experience"
        placeholder="Année expérience" class="w-full" />
    </div>
    <div class="field">
      <label>Langues parlées par le chauffeur</label>
      <p-multiSelect [options]="langues" optionLabel="nom" optionValue="id" formControlName="langues_parlees"
        placeholder="Sélectionnez les langues" class="w-full">
      </p-multiSelect>
    </div>
    <div class="field">
      <label for="photo">Photo</label>
      <p-fileUpload id="photo" mode="basic" [customUpload]="true" (onSelect)="onFileSelected($event)"
        chooseLabel="Choisir un fichier"></p-fileUpload>
      <img *ngIf="photoUrl" [src]="photoUrl" alt="Aperçu de l'image" class="w-full mt-2" />
    </div>

    <div class="flex justify-content-end my-3">
      <p-button label="Retour" icon="pi pi-times"
        [routerLink]="['/app/chauffeur/profil']" size="small" severity="danger"
        class="mx-2"></p-button>
      <p-button label="Mettre à Jour" icon="pi pi-check" size="small" severity="primary" (onClick)="showDialog()"/>
    </div>
  </form>
</div>

<div class="loader-container" *ngIf="loading">
  <p-progressSpinner class="spinner-size spinner-style" />
</div>

<p-dialog header="Confirmation" [modal]="true" [(visible)]="visible" [style]="{width: '35vw'}"
[breakpoints]="{ '1199px': '35vw', '575px': '90vw' }">
  <div class="flex align-items-center gap-3 mb-3 my-2">
    <span>
      <i class="pi pi-exclamation-triangle mr-2 text-orange-400"></i>
      Êtes-vous sûr de vouloir modifier les donneees de votre compte?
    </span>
  </div>
  <p-footer class="flex justify-content-end gap-2 ">
    <p-button label="Annuler" severity="secondary" (onClick)="visible = false" size="small" />
    <p-button label="Confirmé" (onClick)="onSubmit(); visible = false" size="small" />
  </p-footer>
</p-dialog>
