<ul class="layout-menu">
    <ng-container *ngFor="let item of model; let i = index;">
        <li app-menuitem *ngIf="!item.separator" [item]="item" [index]="i" [root]="true"></li>
        <li *ngIf="item.separator" class="menu-separator"></li>
    </ng-container>

</ul>

<p-dialog header="Code de vérification" [(visible)]="display" [modal]="true" showEffect="fade" [style]="{width: '30vw'}"
  [breakpoints]="{'960px': '75vw'}">
  <div class="line-height-3 m-0">

    <p>Veuillez saisir le code de verification avant d'acceder a l'expace de parametrage </p>

    <div class="flex justify-content-center">
      <p-inputOtp [length]="6" [(ngModel)]="codeVerification" />
    </div>
    <!-- Affichez un message d'erreur si nécessaire -->
    <p *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</p>
  </div>

  <ng-template pTemplate="footer">
    <button pButton icon="pi pi-check" (click)="verifyCode()" label="Ok" class="p-button-outlined"></button>
  </ng-template>
</p-dialog>
