<div class="w-full" *ngIf="!loading">
  @if (infoProfile) {
  <div class="card-w-title mb-4">
    <p-breadcrumb [model]="breadcrumbItems" [home]="{icon: 'pi pi-home'}"></p-breadcrumb>
  </div>

  <div class="my-4 card mb-0 clickable-card-t p-3">
    <div class="flex flex-column md:flex-row align-content-around align-items-center">
      <img [src]="getLogoUrl(infoProfile?.entreprise_info?.logo)" alt="Profile Image"
        class="profile-image mb-3 md:mb-0 md:mr-3" />
      <div class="flex-auto mx-3 text-start md:text-left">
        <h4
          class="flex align-items-center gap-2 flex-wrap mt-3 justify-content-center md:justify-content-start text-2xl text-600 text-black-alpha-90">
          {{ infoProfile?.entreprise_info?.nom }}
          <span>
            <p-tag [value]="infoProfile?.entreprise_info?.validation ? 'Activé' : 'Désactivé'"
              [severity]="getSeverity(infoProfile?.entreprise_info)">
            </p-tag>
          </span>
        </h4>

        <div class="flex align-items-center gap-2 flex-wrap mt-3 justify-content-center md:justify-content-start">
          <div class="mb-2 sm:mr-3 sm:mb-1">
            <i class="pi pi-map-marker mr-2"></i>
            <span>{{ infoProfile?.entreprise_info?.adresse }}</span>
          </div>
          <div class="mb-2 sm:mr-3 sm:mb-1">
            <i class="pi pi-envelope mr-2"></i>
            <span>{{ infoProfile?.entreprise_info?.email }}</span>
          </div>
          <div>
            <i class="pi pi-phone mr-2 mb-1"></i>
            <span>{{ infoProfile?.entreprise_info?.telephone }}</span>
          </div>
        </div>

        <div class="flex align-items-center gap-2 flex-wrap mt-3 justify-content-center md:justify-content-start">
          <p-chip label="Fiche De Détails" icon="pi pi-file" (click)="showDialog('details')"></p-chip>
          <p-chip label="{{ infoProfile?.chauffeurs_count }} Chauffeur(s)" icon="pi pi-users"
            (click)="showMenu($event, 'chauffeursMenu')"></p-chip>
          <p-chip label="{{ infoProfile?.vehicules_count }} Vehicule(s)" icon="pi pi-car"
            (click)="showMenu($event, 'vehiclesMenu')"></p-chip>

          <p-overlayPanel #vehiclesMenu>
            <ul class="p-menu-list">
              <li>
                <a [routerLink]="['/app/partenaire/mes-vehicules']"
                  [queryParams]="{ entrepriseId: infoProfile?.entreprise_info?.id }"
                  class="flex align-items-center text-black-alpha-80">
                  <i class="pi pi-eye mr-2"></i> Ma Flotte
                </a>
              </li>
              <li>
                <a [routerLink]="['/app/parametres/vehicule']"
                  [queryParams]="{ entrepriseId: infoProfile?.entreprise_info?.id }"
                  class="flex align-items-center text-black-alpha-80">
                  <i class="pi pi-plus mr-2"></i> Nouveau Vehicule
                </a>
              </li>
            </ul>
          </p-overlayPanel>

          <p-overlayPanel #chauffeursMenu>
            <ul class="p-menu-list">
              <li>
                <a [routerLink]="['/app/partenaire/mes-chauffeurs']"
                  [queryParams]="{ entrepriseId: infoProfile?.entreprise_info?.id }"
                  class="flex align-items-center text-black-alpha-80">
                  <i class="pi pi-eye mr-2"></i> Mes Chauffeurs
                </a>
              </li>
              <li>
                <a [routerLink]="['/app/parametres/chauffeur']"
                  [queryParams]="{ entrepriseId: infoProfile?.entreprise_info?.id }"
                  class="flex align-items-center text-black-alpha-80">
                  <i class="pi pi-plus mr-2"></i> Nouveau Chauffeur
                </a>
              </li>
            </ul>
          </p-overlayPanel>
        </div>
      </div>
    </div>
  </div>

  <div class="grid">
    <!-- Profil du chauffeur Section -->
    <div class="col-12 lg:col-5 xl:col-5">
      <div class="card mb-0 p-3 surface-border border-round shadow-2 h-full">
        <span class="block text-600 font-bold text-lg mb-3">Profil de l'Entrepise Partenaire</span>

        <!-- Profile Details -->
        <div class="p-3 border-round border-1 border-300">
          <div class="flex flex-column lg:flex-row align-items-start justify-content-between mb-2">
            <div class="text-900 mb-2 lg:mb-0"><strong>Nom:</strong></div>
            <div class="text-blue-500 font-bold">{{ infoProfile?.entreprise_info?.nom || 'N/A' }}</div>
          </div>
          <div class="flex flex-column lg:flex-row align-items-start justify-content-between mb-2">
            <div class="text-900 mb-2 lg:mb-0"><strong>Email:</strong></div>
            <div class="text-blue-500 font-bold">{{ infoProfile?.entreprise_info?.email || 'Non fourni' }}</div>
          </div>
          <div class="flex flex-column lg:flex-row align-items-start justify-content-between mb-2">
            <div class="text-900 mb-2 lg:mb-0"><strong>Téléphone:</strong></div>
            <div class="text-blue-500 font-bold">{{ infoProfile?.entreprise_info?.telephone || 'Non fourni' }}</div>
          </div>
          <div class="flex flex-column lg:flex-row align-items-start justify-content-between mb-2">
            <div class="text-900 mb-2 lg:mb-0"><strong>Adresse:</strong></div>
            <div class="text-blue-500 font-bold">{{ infoProfile?.entreprise_info?.adresse || '0' }} </div>
          </div>
          <div class="flex flex-column lg:flex-row align-items-start justify-content-between mb-2">
            <div class="text-900 mb-2 lg:mb-0"><strong>Entreprise Key :</strong></div>
            <div class="text-blue-500 font-bold">
              {{ infoProfile?.entreprise_info?.entrepriseKey || 'Non spécifiées' }}
            </div>
          </div>
          <div class="flex flex-column lg:flex-row align-items-start justify-content-between mb-2">
            <div class="text-900 mb-2 lg:mb-0"><strong>Type d'entreprise :</strong></div>
            <div class="text-blue-500 font-bold">
              {{ infoProfile?.entreprise_info?.type_entreprise === 'entreprise_partenaire' ? 'Entreprise partenaire' :
              (infoProfile?.entreprise_info?.type_entreprise || 'Non spécifiées') }}
            </div>
          </div>
        </div>

        <div class="grid align-content-center mt-2 p-3" *ngIf="!infoProfile?.entreprise_info?.validation">
          <button pButton size="small" class="flex-auto font-bold text-center"
            label="Demande d'activation de l'entreprise" (click)="openActionDialog()"></button>
        </div>
      </div>
    </div>

    <!-- Statistiques Section -->
    <div class="col-12 lg:col-7 xl:col-7">
      <div class="card mb-0 p-3 surface-border border-round shadow-2 h-full">
        <span class="block text-600 font-bold text-lg mb-3">Statistiques</span>

        <!-- Statistics Details -->
        <div class="p-3 border-round border-1 border-300">

          <div class="flex flex-column lg:flex-row align-items-start justify-content-between mb-2">
            <div class="text-900 mb-2 lg:mb-0"><strong>Nombre total de réservations traitées:</strong></div>
            <div class="text-blue-500 font-bold">{{ infoProfile?.total_reservations_count || '0' }}</div>
          </div>
          <div class="flex flex-column lg:flex-row align-items-start justify-content-between mb-2">
            <div class="text-900 mb-2 lg:mb-0"><strong>Nombre total de réservations traitées non payées:</strong></div>
            <div class="text-blue-500 font-bold">{{ infoProfile?.reservations_non_reglees_count || '0' }}</div>
          </div>
          <div class="flex flex-column lg:flex-row align-items-start justify-content-between mb-2">
            <div class="text-900 mb-2 lg:mb-0"><strong>Nombre total de réservations traitées payées:</strong></div>
            <div class="text-blue-500 font-bold">{{ infoProfile?.reservations_reglees_count || '0' }}</div>
          </div>
          <div class="flex flex-column lg:flex-row align-items-start justify-content-between mb-2">
            <div class="text-900 mb-2 lg:mb-0"><strong>Somme totale des réservations traitées:</strong></div>
            <div class="text-blue-500 font-bold">{{ infoProfile?.total_cout_reservations | number:'1.2-2':'fr' }} €
            </div>
          </div>
          <div class="flex flex-column lg:flex-row align-items-start justify-content-between mb-2">
            <div class="text-900 mb-2 lg:mb-0"><strong>Somme totale des réservations non payées:</strong></div>
            <div class="text-blue-500 font-bold">{{ infoProfile?.total_cout_reservations_non_reglees |
              number:'1.2-2':'fr'
              }} €</div>
          </div>
          <div class="flex flex-column lg:flex-row align-items-start justify-content-between mb-2">
            <div class="text-900 mb-2 lg:mb-0"><strong>Somme totale des réservations payées:</strong></div>
            <div class="text-blue-500 font-bold">{{ infoProfile?.total_cout_reservations_reglees | number:'1.2-2':'fr'
              }} €
            </div>
          </div>
        </div>

        <!-- Button to View Feedback -->
        <div class="grid align-content-center mt-2 p-3">
          <button pButton size="small" class="flex-auto font-bold text-center mr-2"
            label="Mettre à jour les informations"
            [routerLink]="['/app/parametres/entreprisePartenaire', infoProfile?.entreprise_info?.id]">
          </button>

          <button pButton size="small" class="flex-auto font-bold text-center" severity="warning"
            label="Voir le classement de mes chauffeurs" (click)="showchauffeurs()"></button>

        </div>
      </div>
    </div>
  </div>

  }
</div>


<p-dialog header="Fiche De Détails" [(visible)]="detailsDialogVisible" [modal]="true" [style]="{width: '75vw'}"
  [closable]="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">

  <div class="grid align-items-stretch">
    <!-- Column 1: Image -->
    <div class="col-12 lg:col-4 xl:col-4 flex align-items-center justify-content-center" style="height: 100%;">
      <img [src]="getLogoUrl(infoProfile?.entreprise_info?.logo ?? '')" alt="Profile Image" class="w-full h-auto"
        style="object-fit: contain; max-width: 100%; height: 100%;" />
    </div>

    <!-- Column 2: Entreprise Details -->
    <div class="col-12 lg:col-4 xl:col-4 flex align-items-center" style="height: 100%;">
      <ul class="list-none p-0">
        <li class="mb-2">
          <span class="font-bold mr-2">Nom De l'Entreprise:</span>
          <span>{{ (infoProfile?.entreprise_info?.nom && infoProfile.entreprise_info.nom !== 'null') ?
            infoProfile.entreprise_info.nom : 'pas renseigné' }}</span>
        </li>
        <li class="mb-2">
          <span class="font-bold mr-2">Email:</span>
          <span>{{ (infoProfile?.entreprise_info?.email && infoProfile.entreprise_info.email !== 'null') ?
            infoProfile.entreprise_info.email : 'pas renseigné' }}</span>
        </li>
        <li class="mb-2">
          <span class="font-bold mr-2">Telephone:</span>
          <span>{{ (infoProfile?.entreprise_info?.telephone && infoProfile.entreprise_info.telephone !== 'null') ?
            infoProfile.entreprise_info.telephone : 'pas renseigné' }}</span>
        </li>
        <li class="mb-2">
          <span class="font-bold mr-2">Adresses:</span>
          <span>{{ (infoProfile?.entreprise_info?.adresse && infoProfile.entreprise_info.adresse !== 'null') ?
            infoProfile.entreprise_info.adresse : 'pas renseigné' }}</span>
        </li>
        <li class="mb-2">
          <span class="font-bold mr-2">Site web:</span>
          <span>{{ (infoProfile?.entreprise_info?.site_web && infoProfile.entreprise_info.site_web !== 'null') ?
            infoProfile.entreprise_info.site_web : 'pas renseigné' }}</span>
        </li>
        <li class="mb-2">
          <span class="font-bold mr-2">Lieu d'opération:</span>
          <span>{{ (infoProfile?.entreprise_info?.pays_operation && infoProfile.entreprise_info.pays_operation !==
            'null' ? infoProfile.entreprise_info.pays_operation : 'pas renseigné') + ' - ' +
            (infoProfile?.entreprise_info?.ville_operation && infoProfile.entreprise_info.ville_operation !== 'null' ?
            infoProfile.entreprise_info.ville_operation : 'pas renseigné') }}</span>
        </li>
        <li class="mb-2">
          <span class="font-bold mr-2">Date ajout:</span>
          <span>{{ infoProfile?.entreprise_info?.date_ajout && infoProfile.entreprise_info.date_ajout !== 'null' ?
            (infoProfile.entreprise_info.date_ajout | date: 'medium') : 'pas renseigné' }}</span>
        </li>
        <li class="mb-2">
          <span class="font-bold mr-2">Entreprise Key:</span>
          <span>{{ (infoProfile?.entreprise_info?.entrepriseKey && infoProfile.entreprise_info.entrepriseKey !== 'null')
            ? infoProfile.entreprise_info.entrepriseKey : 'pas renseigné' }}</span>
        </li>
        <li class="mb-2">
          <span class="font-bold mr-2">Numéro TVA:</span>
          <span>{{ (infoProfile?.entreprise_info?.numero_tva && infoProfile.entreprise_info.numero_tva !== 'null') ?
            infoProfile.entreprise_info.numero_tva : 'pas renseigné' }}</span>
        </li>
        <li class="mb-2">
          <span class="font-bold mr-2">Code NAF:</span>
          <span>{{ (infoProfile?.entreprise_info?.code_Naf && infoProfile.entreprise_info.code_Naf !== 'null') ?
            infoProfile.entreprise_info.code_Naf : 'pas renseigné' }}</span>
        </li>
        <li class="mb-2">
          <span class="font-bold mr-2">Code Postal:</span>
          <span>{{ (infoProfile?.entreprise_info?.code_Postal && infoProfile.entreprise_info.code_Postal !== 'null') ?
            infoProfile.entreprise_info.code_Postal : 'pas renseigné' }}</span>
        </li>
        <li class="mb-2">
          <span class="font-bold mr-2">SIREN/SIRET:</span>
          <span>{{ (infoProfile?.entreprise_info?.siren_siret && infoProfile.entreprise_info.siren_siret !== 'null') ?
            infoProfile.entreprise_info.siren_siret : 'pas renseigné' }}</span>
        </li>
      </ul>
    </div>


    <!-- Column 3: User Details and Additional Contacts -->
    <div class="col-12 lg:col-4 xl:col-4 flex align-items-center" style="height: 100%;">
      <ul class="list-none p-0">

        <!-- DG Info -->
        <div
          *ngIf="(infoProfile?.entreprise_info?.nom_DG && infoProfile?.entreprise_info?.nom_DG !== 'null') ||
                    (infoProfile?.entreprise_info?.email_DG && infoProfile?.entreprise_info?.email_DG !== 'null') ||
                    (infoProfile?.entreprise_info?.contact_DG && infoProfile?.entreprise_info?.contact_DG !== 'null'); else noDGInfo">
          <li class="mb-2">
            <span class="font-bold mr-2">Nom DG:</span>
            <span>{{ infoProfile?.entreprise_info?.nom_DG ?? 'pas renseigné' }}</span>
          </li>
          <li class="mb-2">
            <span class="font-bold mr-2">Contact DG:</span>
            <span>{{ (infoProfile?.entreprise_info?.email_DG ?? 'pas renseigné') + ' (' +
              (infoProfile?.entreprise_info?.contact_DG ?? 'pas renseigné') + ')' }}</span>
          </li>
        </div>

        <!-- Chargé de la clientèle Info -->
        <div
          *ngIf="(infoProfile?.entreprise_info?.nom_Charge_de_la_clientele && infoProfile?.entreprise_info?.nom_Charge_de_la_clientele !== 'null') ||
                    (infoProfile?.entreprise_info?.email_Charge_de_la_clientele && infoProfile?.entreprise_info?.email_Charge_de_la_clientele !== 'null') ||
                    (infoProfile?.entreprise_info?.contact_Charge_de_la_clientele && infoProfile?.entreprise_info?.contact_Charge_de_la_clientele !== 'null'); else noClientInfo">
          <li class="mb-2">
            <span class="font-bold mr-2">Nom Chargé de la clientèle:</span>
            <span>{{ infoProfile?.entreprise_info?.nom_Charge_de_la_clientele ?? 'pas renseigné' }}</span>
          </li>
          <li class="mb-2">
            <span class="font-bold mr-2">Contact Chargé de la clientèle:</span>
            <span>{{ (infoProfile?.entreprise_info?.email_Charge_de_la_clientele ?? 'pas renseigné') + ' (' +
              (infoProfile?.entreprise_info?.contact_Charge_de_la_clientele ?? 'pas renseigné') + ')' }}</span>
          </li>
        </div>

        <!-- Dr des Finances Info -->
        <div
          *ngIf="(infoProfile?.entreprise_info?.nom_Dr_des_Finances && infoProfile?.entreprise_info?.nom_Dr_des_Finances !== 'null') ||
                    (infoProfile?.entreprise_info?.email_Dr_des_Finances && infoProfile?.entreprise_info?.email_Dr_des_Finances !== 'null') ||
                    (infoProfile?.entreprise_info?.contact_Dr_des_Finances && infoProfile?.entreprise_info?.contact_Dr_des_Finances !== 'null'); else noFinanceInfo">
          <li class="mb-2">
            <span class="font-bold mr-2">Nom Dr des Finances:</span>
            <span>{{ infoProfile?.entreprise_info?.nom_Dr_des_Finances ?? 'pas renseigné' }}</span>
          </li>
          <li class="mb-2">
            <span class="font-bold mr-2">Contact Dr des Finances:</span>
            <span>{{ (infoProfile?.entreprise_info?.email_Dr_des_Finances ?? 'pas renseigné') + ' (' +
              (infoProfile?.entreprise_info?.contact_Dr_des_Finances ?? 'pas renseigné') + ')' }}</span>
          </li>
        </div>

        <!-- No Info Templates -->
        <ng-template #noDGInfo>
          <li class="mb-2">
            <span class="font-bold mr-2">DG:</span>
            <span>Les informations du DG ne sont pas renseignées</span>
          </li>
        </ng-template>

        <ng-template #noClientInfo>
          <li class="mb-2">
            <span class="font-bold mr-2">Chargé de la clientèle:</span>
            <span>Chargé de la clientèle: Les informations du Chargé de la clientèle ne sont pas renseignées</span>
          </li>
        </ng-template>

        <ng-template #noFinanceInfo>
          <li class="mb-2">
            <span class="font-bold mr-2">Dr des Finances:</span>
            <span>Dr des Finances: Les informations du Dr des Finances ne sont pas renseignées</span>
          </li>
        </ng-template>
      </ul>
    </div>

  </div>

  <p-footer>
    <p-button label="Fermer" size="small" class="mr-2" severity="secondary" (click)="detailsDialogVisible = false" />
  </p-footer>
</p-dialog>

<p-dialog [(visible)]="visibleDialog" [modal]="true" [style]="{width: '35vw'}" (onHide)="closeDialog()"
  [breakpoints]="{ '1199px': '35vw', '575px': '90vw' }">

  <ng-template pTemplate="header">
    <h4>Requete d'activation de compte</h4>
  </ng-template>

  <ng-template pTemplate="content">
    <p>Êtes-vous sûr de vouloir envoyer la requête d'activation de compte de votre entreprise?</p>
  </ng-template>

  <p-footer>
    <p-button label="Annuler" icon="pi pi-times" (click)="closeDialog()" size="small" severity="danger"></p-button>
    <p-button label="Oui" icon="pi pi-check" size="small" class="mr-2" (click)="demanderActivationCompte()"></p-button>
  </p-footer>

</p-dialog>

<div class="loader-container" *ngIf="loading">
  <p-progressSpinner class="spinner-size spinner-style" />
</div>

<p-dialog header="Classement des Chauffeurs" [(visible)]="detailsVisible" [modal]="true" [style]="{width: '60vw'}"
  [closable]="true" [breakpoints]="{ '1199px': '60vw', '575px': '90vw' }">

  <div *ngFor="let feedback of chauffeurs; let i = index" class="mb-3">
    <div class="grid">
      <div class="col-12 lg:col-12">
        <div class="card surface-border border-round shadow-3 p-4 transition-all hover:shadow-6">
          <div class="p-fluid">

            <!-- Chauffeur Information -->
            <div class="flex align-items-center justify-content-between mb-4">
              <div class="text-lg font-semibold">
                <i class="pi pi-user text-lg mr-2 text-blue-600 font-bold"></i>
                <span class="mr-2 text-blue-600 capitalize">{{ feedback.nom }}</span>
                <span class="font-italic">({{ feedback.email }})</span>
              </div>
            </div>

            <!-- Points de Fidélité et Classement -->
            <div class="flex flex-column lg:flex-row align-items-start justify-content-between mb-2">
              <div class="text-900 mb-2 lg:mb-0">
                <strong>Points de Fidélité </strong>
                <span class="font-italic">(Ce chauffeur est classé {{ i + 1 }}<sup>{{ getOrdinalSuffix(i + 1) }}</sup> dans le
                  classement):</span>
              </div>
              <div class="text-blue-600 font-bold text-2xl flex align-items-center">
                <i class="pi pi-star-fill text-yellow-500 mr-2"></i>{{ feedback.points_fidelite }} pts
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <p-paginator [rows]="rows" [totalRecords]="totalRecords" [first]="(currentPage - 1) * rows"
    (onPageChange)="onPageChange($event)">
  </p-paginator>

  <p-footer>
    <p-button label="Fermer" size="small" class="mr-2" severity="secondary" (click)="detailsVisible = false" />
  </p-footer>
</p-dialog>
