<div class="container-xxl d-flex justify-content-center align-items-center min-vh-100">
    <div class="misc-wrapper text-center m-auto">

        <h2 class="mb-2">{{ errorMessage }}</h2>
       
        <div class="my-4">
            <button class="btn btn-primary btn-sm mx-2 form-label" (click)="fermerPage()">Quitter</button>
        </div>

        <div class="mt-4 my-2">

            <img src="../assets/img/illustrations/page-misc-error-light.png" alt="girl-with-laptop-light"
                width="500" class="img-fluid" data-app-dark-img="illustrations/girl-unlock-password-light.png"
                data-app-light-img="illustrations/girl-unlock-password-light.png" />
        </div>
    </div>
</div>