<div class=" container centered-content">
  <div class="page-container">

    <div class="card">
      <p-stepper orientation="vertical" [linear]="true">
        <!-- Étape 1 : Estimation de Tarif -->
        <p-stepperPanel header="Estimation de Tarif">
          <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
            <div class="flex flex-column h-auto w-full p-0">
              <div class="grid p-fluid mb-4">
                <div class="col-12" *ngIf="isLoading">
                  <div class="card">
                    <div class="d-flex justify-content-start align-items-center">
                      <h5>
                        <p-progressSpinner [style]="{'width': '50px', 'height': '50px'}"
                          class="spinner-size spinner-style mx-2" />
                        Estimation du tarif en cours
                      </h5>
                    </div>
                  </div>
                </div>

                <div class="col-12 sm:col-6 xl:col-6">
                  <div class="card p-2">
                    <div #mapContainer id="map" style="height: 310px; border-radius: 8px;"></div>
                  </div>
                  <div class="card h-5rem" *ngIf="formSubmitted">
                    <div class="flex justify-content-end align-items-start">
                      <div class="flex">
                        <span class="flex align-items-start">
                          <i class="pi pi-map mr-2"></i>
                          <strong>{{ estimations.distParcourt }} Km</strong>
                        </span>
                        <span class="flex align-items-start">
                          <i class="pi pi-stopwatch mr-2"></i>
                          <strong>{{ estimations.durParcourt }}</strong>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 sm:col-6 xl:col-6">
                  <div class="card">
                    <form [formGroup]="estimationForm" (ngSubmit)="calculateEstimation()">
                      <div class="card-body">
                        <div class="p-field mb-2">
                          <label for="departAddress" class="mb-1">Départ</label>
                          <div class="p-inputgroup">
                            <input pInputText type="text" id="departAddress" formControlName="departAddress"
                              placeholder="adresse de depart" required />
                          </div>
                        </div>
                        <div class="p-field mb-2">
                          <label for="destinationAddress" class="mb-1">Destination</label>
                          <div class="p-inputgroup">
                            <input pInputText type="text" id="destinationAddress" formControlName="destinationAddress"
                              placeholder="adresse de destination" required />
                          </div>
                        </div>
                        <div class="d-flex justify-content-between" *ngIf="showDateTimeFields">
                          <div class="p-field col-md-6 mb-2">
                            <label for="datePriseEnChargeDate" class="mb-1">Date</label>
                            <div class="p-inputgroup mb-1">
                              <input pInputText type="date" id="datePriseEnChargeDate"
                                formControlName="datePriseEnChargeDate" required />
                            </div>
                            <div class="text-red-500"
                              *ngIf="estimationForm.get('datePriseEnChargeDate')?.errors?.['required'] && estimationForm.get('datePriseEnChargeDate')?.touched">
                              La date de prise en charge est obligatoire.
                            </div>
                            <div class="text-red-500"
                              *ngIf="estimationForm.get('datePriseEnChargeDate')?.errors?.['invalidDate'] && estimationForm.get('datePriseEnChargeDate')?.touched">
                              Les dates antérieures et celle du jour ne sont pas acceptées.
                            </div>
                            <div class="text-red-500"
                              *ngIf="estimationForm.get('datePriseEnChargeDate')?.errors?.['currentNotAllowed'] && estimationForm.get('datePriseEnChargeDate')?.touched">
                              La date actuelle n'est pas sélectionnable.
                            </div>
                          </div>
                          <div class="p-field col-md-6 mb-2">
                            <label for="datePriseEnChargeTime" class="mb-2">Heure</label>
                            <div class="p-inputgroup">
                              <input pInputText type="time" id="datePriseEnChargeTime"
                                formControlName="datePriseEnChargeTime" required />
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div *ngIf="formSubmitted">
                    <div class="flex justify-content-end align-items-start">
                      <div class="flex">
                        <p-button size="small" label="Annuler" severity="secondary" (onClick)="reload()" />
                        <p-button size="small" label="Suivant" (onClick)="nextStep(nextCallback)" class="mx-2" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </p-stepperPanel>

        <!-- Étape 2 : Choix du Véhicule -->
        <p-stepperPanel header="Information Du Véhicule">
          <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback">
            <div class="flex flex-column h-auto w-full p-0">
              <div class="grid">
                <div class="col-12 lg:col-8">
                  <p-fieldset legend="Choix du Véhicule">

                    <!-- Titre pour la colonne de gauche -->
                    <p-dataView [value]="vehicules" layout="list">
                      <ng-template pTemplate="list" let-vehicule>
                        <div class="grid grid-nogutter">
                          <div class="col-12" *ngFor="let vehicule of vehicules">
                            <div
                              class="flex flex-column sm:flex-row sm:align-items-center p-4 gap-3 border-top-1 surface-border"
                              style="height: 200px;"> <!-- Set consistent card height -->
                              <div class="md:w-10rem relative">
                                <img class="block xl:block mx-auto border-round w-full"
                                  [src]="vehicule.galerie || 'assets/layout/images/vehicules.png'"
                                  [alt]="vehicule.marque + ' ' + vehicule.modele" style="max-height: 100px;" />
                              </div>
                              <div
                                class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4">
                                <div
                                  class="flex flex-row md:flex-column justify-content-between align-items-start gap-2">
                                  <div>
                                    <span class="font-medium text-secondary text-sm">{{ vehicule.marque }}</span>
                                    <div class="text-lg font-medium text-900 mt-2">{{ vehicule.modele }}</div>
                                  </div>
                                </div>
                                <div class="flex flex-column md:align-items-end gap-5">
                                  <span class="text-xl font-semibold text-900">{{ getPrixReservation(vehicule.id) |
                                    currency:'EUR':'symbol':'1.2-2' }}</span>
                                  <div class="flex flex-row-reverse md:flex-row gap-2">
                                    <p-button icon="pi pi-check" size="small" label="Choisir"
                                      [severity]="isSelected(vehicule) ? 'warning' : 'primary'"
                                      (onClick)="toggleSelection(vehicule)" />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </p-dataView>
                  </p-fieldset>
                </div>
                <div class="col-12 lg:col-4">
                  <!-- Titre pour la colonne de droite -->
                  <p-fieldset legend="Suppléments">
                    <div *ngIf="currentStep === 2 && selectedVehicule !== null && formSubmitted">
                      <form [formGroup]="form">
                        <div *ngIf="attributsFormArray" formArrayName="attribut">
                          <div *ngFor="let attributCtrl of attributsFormArray.controls; let i = index">
                            <div [formGroupName]="i" class="p-fieldset">
                              <label for="selectpickerBasic" class="form-label">
                                <strong>{{ attributCtrl.get('nom_attribut')?.value }} ({{
                                  attributCtrl.get('prix_unitaire_attribut')?.value }}€)</strong>
                              </label>
                              <div class="d-flex justify-content-between align-items-center p-inputgroup">
                                <p-button icon="pi pi-minus" pRipple class="p-button-rounded p-button-primary"
                                  (onClick)="decrementQuantity(i)" size="small" />
                                <input type="number" formControlName="quantite" (ngModelChange)="calculateTotalCost()"
                                  id="selectpickerBasic" class="p-inputtext p-component text-center"
                                  style="width: 60px; margin: 0 8px;" />
                                <p-button icon="pi pi-plus" size="small" pRipple
                                  class="p-button-rounded p-button-primary" (onClick)="incrementQuantity(i)" />
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>

                  </p-fieldset>
                </div>
              </div>
            </div>
            <div class="flex py-4 gap-2 justify-content-end">
              <p-button size="small" label="Retour" severity="secondary" (onClick)="prevStep(prevCallback)" />
              <p-button size="small" label="Suivant"
                *ngIf="currentStep === 2 && selectedVehicule !== null && formSubmitted"
                (onClick)="nextStep(nextCallback); toggleFormVisibility()" />
            </div>
          </ng-template>
        </p-stepperPanel>

        <!-- Étape 3 : Information Supplémentaire -->
        <p-stepperPanel header="Informations Supplémentaires">
          <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback">
            <div class="flex flex-column h-auto w-full p-0">
              <div class="grid">
                <div class="col-12">
                  <p-fieldset legend="Détails">
                    <form name="Form" id="contact_form" [formGroup]="reserverForm">
                      <div class="p-fluid grid formgrid">
                        <!-- Nombre de Passagers -->
                        <div class="field col-12 lg:col-4">
                          <label for="nombrePassager" class="form-label">Nombre De passagers</label>
                          <p-dropdown id="nombrePassager" [options]="generateOptions(capacitePassagers)"
                            formControlName="nombrePassager" placeholder="Choisissez le nombre"></p-dropdown>
                        </div>
                        <!-- Capacité de Chargement -->
                        <div class="field col-12 lg:col-4">
                          <label for="capaciteChargement" class="form-label">Capacité de Chargement</label>
                          <p-dropdown id="capaciteChargement" [options]="generateOptions(capaciteChargement)"
                            formControlName="nbre" placeholder="Choisissez le nombre"></p-dropdown>
                        </div>
                        <div class="field col-12 lg:col-4">
                          <label for="nombrePassager" class="form-label">Type de bagages</label>
                          <input pInputText type="text" id="typeBagages" [value]="type_bagages" disabled>
                        </div>
                        <!-- Méthode de Paiement -->
                        <div class="field col-12">
                          <label for="modePaiement" class="form-label">Méthode de Paiement</label>
                          <p-dropdown id="modePaiement" [options]="paymentMethods" optionLabel="label" optionValue="nom"
                            formControlName="modePaiement" placeholder="Choisissez la méthode"></p-dropdown>
                        </div>
                        <!-- Numero de Vol/Train -->
                        <div class="field col-12 lg:col-6">
                          <label for="compagnieAerienne" class="form-label">Numero de Vol/Train <span
                              class="text-yellow-400">(facultative)</span></label>
                          <input pInputText type="text" id="compagnieAerienne" placeholder="numero de vol / train"
                            formControlName="compagnieAerienne" />
                        </div>
                        <!-- Numero de Dossier -->
                        <div class="field col-12 lg:col-6">
                          <label for="numero_dossier" class="form-label">Numero de Dossier <span
                              class="text-yellow-400">(facultative)</span></label>
                          <input pInputText type="text" id="numero_dossier" placeholder="numero de dossier"
                            formControlName="numero_dossier" />
                        </div>
                        <!-- Notes -->
                        <div class="field col-12">
                          <label for="note" class="form-label">Notes <span
                              class="text-yellow-400">(facultative)</span></label>
                          <textarea pInputTextarea id="note" formControlName="note" placeholder="Votre note" rows="5"
                            class="p-inputtext-lg p-inputtext-sm block w-full h-auto border-1 surface-border border-round p-2"
                            style="resize: none; background-color: #ffffff; border-color: #d9d9d9;"></textarea>
                        </div>
                        <!-- Passengers -->
                        <div formArrayName="passengers" class="col-12">
                          <div *ngFor="let passenger of passengers.controls; let i = index" [formGroupName]="i"
                            class="field grid">
                            <label for="name" class="form-label col-12">Passager <span *ngIf="i === 0"
                                class="text-primary-400">(Passager Principal)</span></label>
                            <div class="col-12">
                              <div class="p-inputgroup">
                                <input pInputText id="name" formControlName="name" placeholder="Nom"
                                  class="p-inputtext w-full">
                                <input pInputText id="phone" formControlName="phone" placeholder="Numéro de téléphone"
                                  class="p-inputtext w-full">
                                <button type="button" pButton icon="pi pi-trash"
                                  class="p-button-danger p-button-sm"></button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Add Passenger Button -->
                        <div class="field col-12">
                          <p-button [text]="true" [raised]="true" label="Ajouter des passagers" size="small"
                            icon="pi pi-plus" (click)="addPassenger()" />
                        </div>
                      </div>
                    </form>
                  </p-fieldset>
                </div>
              </div>
            </div>

            <div class="flex py-4 gap-2 justify-content-end">
              <p-button size="small" label="Retour" severity="secondary" (onClick)="prevStep(prevCallback)" />
              <p-button *ngIf="currentStep === 3 && isStep3FieldsFilled()" size="small" label="Suivant"
                (onClick)="recupererInformations(nextCallback);" />
            </div>
          </ng-template>
        </p-stepperPanel>

        <!-- Étape 4 : Récapitulatif -->
        <p-stepperPanel header="Récapitulatif">
          <ng-template pTemplate="content" let-prevCallback="prevCallback">
            <div class="grid text" *ngIf="currentStep === 4 && !loading">
              <div class="col-12 mx-auto mb-1">
                <div class="card mb-2">
                  <div class="card-header text-start">
                    <h5 class="mb-2 text-uppercase">Nouvelle Course : {{ reservationData?.numero_reservation || "" }}
                    </h5>
                  </div>
                </div>

                <div class="card mb-2">
                  <div class="card-body demo-vertical-spacing demo-only-element">
                    <img src="assets/layout/images/map.png" alt="Carte de l'itinéraire"
                      style="width: 100%; height: 300px; object-fit: cover;">

                    <div class="d-flex flex-row justify-content-start align-items-start mt-3">
                      <div>
                        <span><i class='pi pi-users'></i>&nbsp;<strong>{{ reservationData?.nombrePassager || ""
                            }}</strong></span>
                        <span class="mx-1"><i class='pi pi-briefcase'></i>&nbsp;<strong>{{ reservationData?.nombreBagage
                            || ""
                            }}</strong></span>
                        <span class="mx-1"><i class="pi pi-map"></i>&nbsp;<strong>{{ reservationData?.distance || "" }}
                            Km</strong></span>
                        <span><i class="pi pi-clock"></i>&nbsp;<strong>{{ reservationData?.duree || ""
                            }}</strong></span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card mb-2 booking-container">
                  <div class="booking-header d-flex align-items-center">
                    <h5 class="ml-2 text-uppercase">Détails supplémentaires</h5>
                  </div>
                  <div class="booking-detail">
                    <div class="my-1 mx-2">
                      <strong>Date et Heure :</strong> {{ reservationData?.datePriseEnCharge | date: 'dd MMM yyyy à
                      HH:mm'
                      ||
                      "" }}
                    </div>
                    <div class="my-1 mx-2">
                      <strong>Départ :</strong> {{ reservationData?.lieuxPriseEnCharge || " " }}
                    </div>
                    <div class="my-1 mx-2">
                      <strong>Destination :</strong> {{ reservationData?.lieuxDestination || "" }}
                    </div>
                    <div class="my-1 mx-2" *ngIf="vehiculeData">
                      <strong>vehicule :</strong> {{ vehiculeData.marque}}{{
                      vehiculeData.modele}}({{vehiculeData.typeVehicule}})
                    </div>
                    <div class="my-1 mx-2" *ngIf="clientDetails">
                      <strong>Client :</strong> <span
                        *ngIf="clientDetails?.first_name !== 'XXXXX'">{{clientDetails?.first_name
                        }}</span> {{ clientDetails?.last_name}}
                    </div>

                    <div class="my-1 mx-2">
                      <strong>Mode de paiement :</strong> {{ formatPaymentMethodName(reservationData?.modePaiement ||
                      "")
                      }}
                    </div>
                    <div class="my-1 mx-2" *ngIf="reservationData?.compagnieAerienne">
                      <strong>Nº De Vol/Train :</strong> {{ reservationData?.compagnieAerienne }}
                    </div>

                    <div class="my-1 mx-2">
                      <strong>Cout de trajet :</strong>
                      <span>
                        {{ reservationData?.coutTransport | currency:'EUR':'symbol':'1.2-2' }}
                      </span>
                    </div>

                    <div class="my-1 mx-2" *ngIf="reservationData?.totalAttributCost > 0">
                      <strong>Cout des supplements :</strong>
                      <span>
                        {{ reservationData?.totalAttributCost | currency:'EUR':'symbol':'1.2-2' }}
                      </span>
                    </div>
                    <div class="my-1 mx-2">
                      <strong>Tarif de la course :</strong>
                      <span class="badge badge-info">
                        {{ reservationData?.coutTotalReservation | currency:'EUR':'symbol':'1.2-2' }}
                      </span>
                    </div>
                    <div class="mb-4 my-3">
                      <p-inplace>
                        <ng-template pTemplate="display">
                          <strong>Autres Details ...</strong>
                        </ng-template>
                        <ng-template pTemplate="content">
                          <div class="my-1 mx-2" *ngIf="reserverForm.value.passagers && reserverForm.value.passagers.length > 0">
                            <p class="card-text"><strong>Liste des passagers ajoutés :</strong></p>
                            <span *ngFor="let passenger of reserverForm.value.passagers">
                              {{ passenger.content }}
                            </span>
                          </div>
                          <div class="my-1 mx-2" *ngIf="reserverForm.value.supplements && reserverForm.value.supplements.length > 0">
                            <p class="card-text"><strong>Suppléments :</strong></p>
                            <span *ngFor="let item of reserverForm.value.supplements">
                              {{ item.nom_attribut }} ({{ item.quantite }})
                            </span>
                          </div>
                          <div class="my-1 mx-2" *ngIf="reserverForm.value.notes && reserverForm.value.notes.length > 0">
                            <p class="card-text"><strong>Notes :</strong></p>
                            <span *ngFor="let note of reserverForm.value.notes">
                              {{ note.content }}
                            </span>
                          </div>
                        </ng-template>
                      </p-inplace>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="flex py-4 justify-content-end" *ngIf="!loading">
              <p-button size="small" label="Retour" severity="secondary" (onClick)="prevStep(prevCallback)" />
              <p-button size="small" label="Reserver" severity="success" class="mx-2" (onClick)="reserver()"
                *ngIf="currentStep === 4 && valider"></p-button>
            </div>
            <div class="flex justify-content-center">
              <div class="loader-container" *ngIf="loading">
                <p-progressSpinner class="spinner-size spinner-style" />
              </div>
            </div>
          </ng-template>
        </p-stepperPanel>

      </p-stepper>
    </div>

  </div>
</div>
