.non-clickable-headers .p-step-header {
  pointer-events: none; /* Désactive les clics */
}

@media (max-width: 768px) { /* Adjust max-width to target desired screen size */
  .stepper-header {
    max-width: 100%;       /* Constrain the header within the container */
    white-space: normal;   /* Allow wrapping of text */
    overflow-wrap: break-word; /* Break long words as needed */
  }
}

.ajouter-nouveau-lieu {
  display: flex;
  align-items: center;
  color: #007ad9;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5rem;
}

.ajouter-nouveau-lieu i {
  margin-right: 0.5rem;
}

.ajouter-nouveau-lieu:hover {
  background-color: #f0f8ff;
}
