<div class="card mb-2" *ngIf="!loading">
  <h5 class="mb-3">{{ entrepriseId ? 'Mettre à Jour' : 'Ajouter' }} Une Entreprise</h5>
  <form [formGroup]="entrepriseForm" (ngSubmit)="onSubmit()" class="p-fluid">
    <div class="grid">
      <div class="col-12 md:col-6">
        <div class="field">
          <label for="nom">Nom de l'entreprise</label>
          <input pInputText type="text" id="nom" formControlName="nom" placeholder="Nom de l'entreprise"
            class="w-full" />
        </div>
      </div>

      <div class="col-12 md:col-6">
        <div class="field">
          <label for="adresse">Adresse</label>
          <input pInputText type="text" id="adresse" formControlName="adresse" placeholder="Adresse" class="w-full"
            (focus)="initAutocomplete()" />
        </div>
      </div>
    </div>

    <div class="grid">
      <div class="col-12 md:col-6">
        <div class="field">
          <label for="email">Adresse e-mail</label>
          <input pInputText type="email" id="email" formControlName="email" placeholder="exemple@exemple.com"
            class="w-full" />
        </div>
      </div>
      <div class="col-12 md:col-6">
        <div class="field">
          <label for="telephone">Téléphone</label>
          <input pInputText type="tel" id="telephone" formControlName="telephone" placeholder="Téléphone"
            class="w-full" />
        </div>
      </div>
    </div>

    <div class="field">
      <label for="lieu_operation">Lieu d'opération</label>
      <input pInputText type="text" id="lieu_operation" formControlName="lieu_operation"
        placeholder="Ville d'opération" class="w-full" (focus)="initAutocomplete()" />
    </div>

    <div class="grid">
      <div class="col-12 md:col-6">
        <div class="field">
          <label for="site_web">Site Web</label>
          <input pInputText type="text" id="site_web" formControlName="site_web" placeholder="Site Web"
            class="w-full" />
        </div>
      </div>
      <div class="col-12 md:col-6">
        <div class="field">
          <label for="description">Description <small class="text-orange-300">(facultatif)</small></label>
          <input pInputText id="description" formControlName="description" placeholder="Description" class="w-full" />
        </div>
      </div>
    </div>

    <div class="grid">
      <div class="col-12 md:col-3">
        <div class="field">
          <label for="numero_tva">Numéro TVA <small class="text-orange-300">(facultatif)</small></label>
          <input pInputText type="text" id="numero_tva" formControlName="numero_tva" placeholder="Numero de la TVA"
            class="w-full" />
        </div>
      </div>
      <div class="col-12 md:col-3">
        <div class="field">
          <label for="code_Naf">Code NAF <small class="text-orange-300">(facultatif)</small></label>
          <input pInputText type="text" id="code_Naf" formControlName="code_Naf" placeholder="Code NAF"
            class="w-full" />
        </div>
      </div>
      <div class="col-12 md:col-3">
        <div class="field">
          <label for="code_Postal">Code Postal <small class="text-orange-300">(facultatif)</small></label>
          <input pInputText type="tel" id="code_Postal" formControlName="code_Postal" placeholder="Code postal"
            class="w-full" />
        </div>
      </div>
      <div class="col-12 md:col-3">
        <div class="field">
          <label for="siren_siret">SIREN/SIRET <small class="text-orange-300">(facultatif)</small></label>
          <input pInputText type="text" id="siren_siret" formControlName="siren_siret" placeholder="Code siren/siret"
            class="w-full" />
        </div>
      </div>
    </div>

    <div class="grid">
      <!-- DG Information -->
      <div class="col-12 md:col-4">
        <div class="field">
          <label for="nom_DG">Nom du DG <small class="text-orange-300">(facultatif)</small></label>
          <input pInputText type="text" id="nom_DG" formControlName="nom_DG" placeholder="Nom du Directeur Général"
            class="w-full" />
        </div>
      </div>
      <div class="col-12 md:col-4">
        <div class="field">
          <label for="contact_DG">Contact du DG <small class="text-orange-300">(facultatif)</small></label>
          <input pInputText type="tel" id="contact_DG" formControlName="contact_DG"
            placeholder="Contact du Directeur Général" class="w-full" />
        </div>
      </div>
      <div class="col-12 md:col-4">
        <div class="field">
          <label for="email_DG">Email du DG <small class="text-orange-300">(facultatif)</small></label>
          <input pInputText type="email" id="email_DG" formControlName="email_DG"
            placeholder="Email du Directeur Général" class="w-full" />
        </div>
      </div>

      <!-- Directeur des Finances Information -->
      <div class="col-12 md:col-4">
        <div class="field">
          <label for="nom_Dr_des_Finances">Nom du Directeur des Finances <small
              class="text-orange-300">(facultatif)</small></label>
          <input pInputText type="text" id="nom_Dr_des_Finances" formControlName="nom_Dr_des_Finances"
            placeholder="Nom du Directeur des Finances" class="w-full" />
        </div>
      </div>
      <div class="col-12 md:col-4">
        <div class="field">
          <label for="contact_Dr_des_Finances">Contact du Directeur des Finances <small
              class="text-orange-300">(facultatif)</small></label>
          <input pInputText type="tel" id="contact_Dr_des_Finances" formControlName="contact_Dr_des_Finances"
            placeholder="Contact du Directeur des Finances" class="w-full" />
        </div>
      </div>
      <div class="col-12 md:col-4">
        <div class="field">
          <label for="email_Dr_des_Finances">Email du Directeur des Finances <small
              class="text-orange-300">(facultatif)</small></label>
          <input pInputText type="email" id="email_Dr_des_Finances" formControlName="email_Dr_des_Finances"
            placeholder="Email du Directeur des Finances" class="w-full" />
        </div>
      </div>

      <!-- Chargé de la Clientèle Information -->
      <div class="col-12 md:col-4">
        <div class="field">
          <label for="nom_Charge_de_la_clientele">Nom du Chargé de la Clientèle <small
              class="text-orange-300">(facultatif)</small></label>
          <input pInputText type="text" id="nom_Charge_de_la_clientele" formControlName="nom_Charge_de_la_clientele"
            placeholder="Nom du Chargé de la Clientèle" class="w-full" />
        </div>
      </div>
      <div class="col-12 md:col-4">
        <div class="field">
          <label for="contact_Charge_de_la_clientele">Contact du Chargé de la Clientèle <small
              class="text-orange-300">(facultatif)</small></label>
          <input pInputText type="tel" id="contact_Charge_de_la_clientele"
            formControlName="contact_Charge_de_la_clientele" placeholder="Contact du Chargé de la Clientèle"
            class="w-full" />
        </div>
      </div>
      <div class="col-12 md:col-4">
        <div class="field">
          <label for="email_Charge_de_la_clientele">Email du Chargé de la Clientèle <small
              class="text-orange-300">(facultatif)</small></label>
          <input pInputText type="email" id="email_Charge_de_la_clientele"
            formControlName="email_Charge_de_la_clientele" placeholder="Email du Chargé de la Clientèle"
            class="w-full" />
        </div>
      </div>
    </div>
    <div class="field">
      <label for="logo">Logo <small class="text-orange-300">(facultatif)</small></label>
      <p-fileUpload mode="basic" [customUpload]="true" (onSelect)="onFileSelected($event)"
        chooseLabel="Choisir un fichier"></p-fileUpload>
      <img *ngIf="logoUrl" [src]="logoUrl" alt="Logo" class="w-full mt-2" />
    </div>
    <div class="flex justify-content-end my-3">
      <div class="flex justify-content-end my-3">
        <p-button label="Retour" icon="pi pi-times" routerLink="/app/parametres" size="small" severity="danger"
          class="mx-2"></p-button>
        <p-button type="button" label="{{ entrepriseId ? 'Mettre à Jour' : 'Ajouter' }}" icon="pi pi-check" size="small"
          severity="primary" (click)="handleSubmit()"></p-button>
      </div>
    </div>
  </form>
</div>

<div class="loader-container" *ngIf="loading">
  <p-progressSpinner class="spinner-size spinner-style" />
</div>

<p-dialog header="Confirmation" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
  <div class="flex align-items-center gap-3 mb-3 my-2">
    <span>
      <i class="pi pi-exclamation-triangle mr-2 text-orange-400"></i>
      Êtes-vous sûr de vouloir modifier les donneees de votre entreprise ?
    </span>
  </div>
  <p-footer class="flex justify-content-end gap-2 ">
    <p-button label="Annuler" severity="secondary" (onClick)="visible = false" size="small" />
    <p-button label="Confirmé" (onClick)="onSubmit(); visible = false" size="small" />
  </p-footer>
</p-dialog>
